<% if user_signed_in? %>
    <li>
    <%= link_to destroy_user_session_path, method: :delete do %>
      <%= image_tag("Salir.svg", class: "hide-for-small-only") %>
      <%= t("devise_views.menu.login_items.logout") %>
    <% end %>
  </li>
<% end %>
