<div class="row margin-top">
  <div class="small-12 medium-12 column">
    <p>
    Documentos de partida y propuestas de reglamento insular de participación ciudadana.
    <p>
    <p><%= link_to "PROYECTO DE REGLAMENTO ORGÁNICO DE PARTICIPACIÓN CIUDADANA DEL CABILDO DE GRAN CANARIA", asset_path("PROYECTO_REGLAMENTO_PARTICIPACION_CIUDADANA_GC.pdf"), target: "_blank" %></p>
  </div>
</div>
