<div class="row margin-top">
  <section class="debate-show">
  <h1><%= 'Participa Gran Canaria' %></h1>
  <div class="small-12 medium-9 column">
      <p>
      El gobierno insular de Gran Canaria asume como misión convertir al Cabildo en una institución abierta y transparente que contemple el protagonismo ciudadano como elemento central en el desarrollo de las políticas de cambio y transformación que la isla precisa. Es decir, hacer de las ciudadanas y los ciudadanos verdaderos protagonistas para Transformar Gran Canaria.      
      </p><p>

      Esta nueva política pública insular tiene la visión de favorecer la participación ciudadana en igualdad y sin discriminación, convirtiéndola en una transversalidad de la acción de gobierno que mejore la eficiencia y eficacia de las políticas insulares. En última instancia, quiere hacer de la participación ciudadana un instrumento de profundización de la democraciaque convierta al Cabildo en una institución ejemplar de gobernanza de Gran Canaria.      
      </p><p>
      El Reglamento Orgánico de Participación Ciudadana es un instrumento normativo central de esta nueva política pública insular cuya implementación debe servir en última instancia para facilitar y fortalecer la colaboración entre ciudadanía y gobierno insular.

      </p><p>
      Este proceso participativo  es mucho más que un ejercicio metodológico conducente a establecer de forma compartida líneas de futuro. El BORRADOR DE REGLAMENTO INSULAR DE PARTICIPACIÓN CIUDADANA parte de unas opciones de base que pretenden orientar, desde su inicio, los pasos a seguir en este trabajo conjunto, impregnados por el espíritu de que ni partimos de cero ni caminamos con los ojos cerrados.


      </p><p>
      Así, la elaboración del REGLAMENTO INSULAR DE PARTICIPACIÓN CIUDADANA se entiende como un proceso de reflexión que incorpore las consideraciones ciudadanas en torno a la políticapública de Participación Ciudadana mediante iniciativas y propuestas que tengan vocación de impregnar las acciones del gobierno insular.
      </p><p>

      Este sitio web se ha creado para facilitar este proceso participativo, permitiendo el acceso a los contenidos relevantes que se vayan elaborando durante las diferentes fases, con la posibilidad de canalizar las opiniones, valoraciones y propuestas
      </p>
  </div>
    <aside class="small-12 medium-3 column">
      <div class="sidebar-divider"></div>
      <h3><%= t("debates.show.share") %></h3>
      <div class="social-share-full">
        <%# <%= social_share_button_tag("#{@debate.title} #{setting['twitter_hashtag']}") %>
        <%= social_share_button_tag("#{setting['twitter_hashtag']}") %>
        <% if browser.device.mobile? %>
          <a href="whatsapp://send?text=https://participa.grancanaria.com/" data-action="share/whatsapp/share">
            <span class="icon-whatsapp whatsapp"></span>
          </a>
        <% end %>
      </div>
  </section>

</div>
