<div class="row margin-top">
  <div class="small-12 medium-12 column">
    <p>
Este apartado está habilitado para recoger las aportaciones a la propuesta de Reglamento para la participación ciudadana del Cabildo de Gran Canaria.
    </p>
  </div>
</div>
