<div class="small-12 medium-12">
  <ul>
    <li class="proposals">
      <%= link_to root_path do %>
        <h1 class="hide-for-small-only"> Página principal</h1>
        <span class="show-for-small-only"> Página principal </span>
      <% end %>
    </li>
    <li class="debates">
      <%=link_to page_path('participaGCblog1') do  %>
        <h1 class="hide-for-small-only"> Participa Gran Canaria</h1>
        <span class="show-for-small-only"> Participa Gran Canaria</span>
      <% end %>

    </li>
    <li class="faq">
      <%= link_to page_path('participaGCblog2') do %>
        <h1 class="hide-for-small-only"> Aportaciones</h1>
        <span class="show-for-small-only"> Aportaciones</span>
      <% end %>

    </li>
    <li class="document">
      <%= link_to page_path('participaGCblog3') do %>
        <h1 class="hide-for-small-only"> Documentos</h1>
        <span class="show-for-small-only"> Documentos</span>
      <% end %>

    </li>
  </ul>
</div>

